@import "../../styles/all.css";

.quotes{
  padding: $spacing-52 $spacing-52 $spacing-136 $spacing-52;
}

.content {
  margin: 0 auto;
}

.title {
  margin-bottom: $spacing-32;
  text-align: center;
}
