@import "../../styles/all.css";
@import "../../styles/slick.css";

.carousel-container {
  position: relative;
}

.carousel {
  overflow: hidden;
}

.carousel-container :global{
  .slick-list{
    height: 550px !important;
  }
}
