@import "../../styles/all.css";
@import "../../styles/slick.css";

.carousel-container {
  position: relative;
}

.carousel {
  overflow: hidden;
}

.carousel-container :global {
  .slick-list {
    height: 550px !important;

    @include Breakpoint-mobileOnly {
      height: 50vh !important;
    }
  }

  .slick-dots {
    z-index: 1;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 100%;

    box-shadow: rgb(0, 0, 0, 0.3) 0px 1px 4px;
  }

  .slick-prev:before,
  .slick-next:before {
    content: none;
  }
}
