$font-family: 'Dosis', sans-serif;


$font-size-h1: 52px;
$line-height-h1: 1.34;
$font-size-h2: 32px;
$line-height-h2: 1.38;
$font-size-h3: 18px;
$line-height-h3: 1.618;
$font-size-h4: 16px;
$line-height-h4: 1.618;
$font-size-body: 12px;
$line-height-body: 1.618;
