@import "../styles/all.css";



body {
  margin: 0;

  background-color: black;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 70px;

  @include Breakpoint-mobileOnly {
    width: 100%;
  }
}

.main.container {
  padding-top: $spacing-136;
}

.section-services {
  width: 100%;
  background-color: white;

  padding: $spacing-52 0 $spacing-52 0;

  .title {
    margin-bottom: $spacing-32;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    @include Breakpoint-mobileOnly {
      display: block;
    }
  }

  .end {
    margin-top: $spacing-52;
    text-align: center;
  }
}

.section-about {
  width: 100%;
  background-color: $brown;
}

.section-photos {
  width: 100%;
  padding-top: $spacing-32;
}
