@import "../styles/all.css";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 70px;
}

.section-photos {
}

.section-where {
  padding: 84px 0;
  background-color: #bf946f;
}

.section {
  width: 100%;
  height: 300px;
}

.section:nth-child(2) {
}
