@import "../../styles/all.css";

.footer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: $spacing-52 auto 0;
  z-index: 10;

  @include Breakpoint-mobileOnly {
    width: 80vw;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include Breakpoint-mobileOnly {
    display: block;
  }
}

.footer-column{
  position: relative;
}

.footer-column:not(:first-child) {
  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.footer-title {
  margin-bottom: $spacing-20;

  color: white;
}

.footer-title:first-child {
  margin-top: 0;
}

.footer-street {
  color: white;
}

.footer-code {
  color: white;
}

.footer-phone {
  color: white;
}

.footer-facebook{
  position: absolute;
  width: 28px;
  height: 28px;
}

.footer-facebook:hover{
  cursor:pointer;
}

.facebook-img {
  height: $spacing-20;
}

.develop {
  display: block;
  padding-top: $spacing-32;
  padding-bottom: $spacing-32;
  margin-top: $spacing-52;

  border-top: 1px solid rgba(255, 255, 255, 0.5);

  text-align: center;
}
